.navbar {
    width: 100%;
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);

    &.scrolled {
        background-color: black;
    }

    .container{
        padding: 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;

        .left{
            display: flex;
            align-items: center;
            width: 80%;

            a{
                color: white;
            }

            img{
                height: 25px;
                width: auto;
                margin-right: 40px;
                }
            span{
                margin-right: 20px;
                cursor: pointer;
                width: auto;
            }
        }

        .right{
           display: flex;
           align-items: center; 
           width: 20%;
           gap:10px;
        }

        .icon{
            margin: 0px 15px;
            cursor: pointer;
        }
        img{
            width: auto;
            height: 30px;
            border-radius: 5px;
            object-fit: cover;
            cursor: pointer;
        }
        .buttons{
            background-color: #e50914;
            padding: 7px 17px;
            color: white;
            display: flex;
            flex-direction: row;
            border-radius: 3px;
        }

        .profile{
            .option{
                display: none;
                background-color: black;
                border-radius: 5px;
            }

            span{
               padding: 10px;
               cursor:pointer; 
            }

            &:hover{
                .option{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                }
            }
        }
    }
}