.error-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 500px;

    h2{
        display: flex;
        justify-content: center;
        align-items: center;  
    }
}